/* 实现card body 高度100% */
.my-layout-body .ivu-card{
    height: 100%;
    padding: 51px 0 0;
}

.my-layout-body .ivu-card-padding{
    padding: 2px;
    height: 100%;
    width: auto;
}

/* 实现card body 高度100% */
.my-layout-body .ivu-card .ivu-card-head{
    margin: -51px 0 0;
}

/* 实现card body 高度100% */
.my-layout-body .ivu-card .ivu-card-body{
    height: 100%;
    overflow: auto;
}

/* 实现card body 内边距 */
.my-layout-body .ivu-card-body-padding .ivu-card-body {
    padding: 5px 5px;
}

/* 实现card head 样式 */
.my-layout-body .ivu-card .ivu-card-head {
    border-bottom: 1px solid #e9eaec;
    padding: 14px 16px;
    line-height: 1;
    background-color: #eaf4fe;
}

/* 实现编辑表格按钮隐藏显示 */
.show-edit-btn{
    display: none;
    margin-left: -10px;
}

/* 实现编辑表格按钮隐藏显示 */
.ivu-table-cell:hover .show-edit-btn{
    display: inline-block;
}

/* 配置model背景  head 和 foot */
  .ivu-modal-content {
      position: relative;
      background-color: #f8f8f9;
      border: 0;
      border-radius: 6px;
      background-clip: padding-box;
  }

  /* 配置model背景  head 文字颜色 */
.ivu-modal-header .my-modal-title{
    font-size:15px;
    font-weight:700;
    color:#000;
    text-align:left;
    letter-spacing:1px;
    font-size: 16px;
}


/* 配置model背景 body */
  .ivu-modal-body {
      padding: 16px;
      font-size: 12px;
      line-height: 1.5;
      background-color: #ffffff;
  }

  /* 关闭按钮白色 */
  .ivu-modal-close .ivu-icon-ios-close-empty {
      font-size: 31px;
      color: #606461;
      transition: color .2s ease;
      position: relative;
      top: 1px;
  }