<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.springmvc.mapper.MenuitemMapper" >
  <resultMap id="BaseResultMap" type="com.springmvc.model.Menuitem" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="FuncName" property="funcname" jdbcType="VARCHAR" />
    <result column="ParentID" property="parentid" jdbcType="VARCHAR" />
    <result column="Descript" property="descript" jdbcType="VARCHAR" />
    <result column="funcUrl" property="funcurl" jdbcType="VARCHAR" />
    <result column="leaf" property="leaf" jdbcType="VARCHAR" />
    <result column="Image" property="image" jdbcType="VARCHAR" />
    <result column="ToolImage" property="toolimage" jdbcType="VARCHAR" />
    <result column="NavigationImage" property="navigationimage" jdbcType="VARCHAR" />
    <result column="NavigationUrl" property="navigationurl" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, FuncName, ParentID, Descript, funcUrl, leaf, Image, ToolImage, NavigationImage, 
    NavigationUrl
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from menuitem
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from menuitem
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.springmvc.model.Menuitem" >
    insert into menuitem (id, FuncName, ParentID, 
      Descript, funcUrl, leaf, 
      Image, ToolImage, NavigationImage, 
      NavigationUrl)
    values (#{id,jdbcType=VARCHAR}, #{funcname,jdbcType=VARCHAR}, #{parentid,jdbcType=VARCHAR}, 
      #{descript,jdbcType=VARCHAR}, #{funcurl,jdbcType=VARCHAR}, #{leaf,jdbcType=VARCHAR}, 
      #{image,jdbcType=VARCHAR}, #{toolimage,jdbcType=VARCHAR}, #{navigationimage,jdbcType=VARCHAR}, 
      #{navigationurl,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.springmvc.model.Menuitem" >
    insert into menuitem
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="funcname != null" >
        FuncName,
      </if>
      <if test="parentid != null" >
        ParentID,
      </if>
      <if test="descript != null" >
        Descript,
      </if>
      <if test="funcurl != null" >
        funcUrl,
      </if>
      <if test="leaf != null" >
        leaf,
      </if>
      <if test="image != null" >
        Image,
      </if>
      <if test="toolimage != null" >
        ToolImage,
      </if>
      <if test="navigationimage != null" >
        NavigationImage,
      </if>
      <if test="navigationurl != null" >
        NavigationUrl,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="funcname != null" >
        #{funcname,jdbcType=VARCHAR},
      </if>
      <if test="parentid != null" >
        #{parentid,jdbcType=VARCHAR},
      </if>
      <if test="descript != null" >
        #{descript,jdbcType=VARCHAR},
      </if>
      <if test="funcurl != null" >
        #{funcurl,jdbcType=VARCHAR},
      </if>
      <if test="leaf != null" >
        #{leaf,jdbcType=VARCHAR},
      </if>
      <if test="image != null" >
        #{image,jdbcType=VARCHAR},
      </if>
      <if test="toolimage != null" >
        #{toolimage,jdbcType=VARCHAR},
      </if>
      <if test="navigationimage != null" >
        #{navigationimage,jdbcType=VARCHAR},
      </if>
      <if test="navigationurl != null" >
        #{navigationurl,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.springmvc.model.Menuitem" >
    update menuitem
    <set >
      <if test="funcname != null" >
        FuncName = #{funcname,jdbcType=VARCHAR},
      </if>
      <if test="parentid != null" >
        ParentID = #{parentid,jdbcType=VARCHAR},
      </if>
      <if test="descript != null" >
        Descript = #{descript,jdbcType=VARCHAR},
      </if>
      <if test="funcurl != null" >
        funcUrl = #{funcurl,jdbcType=VARCHAR},
      </if>
      <if test="leaf != null" >
        leaf = #{leaf,jdbcType=VARCHAR},
      </if>
      <if test="image != null" >
        Image = #{image,jdbcType=VARCHAR},
      </if>
      <if test="toolimage != null" >
        ToolImage = #{toolimage,jdbcType=VARCHAR},
      </if>
      <if test="navigationimage != null" >
        NavigationImage = #{navigationimage,jdbcType=VARCHAR},
      </if>
      <if test="navigationurl != null" >
        NavigationUrl = #{navigationurl,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.springmvc.model.Menuitem" >
    update menuitem
    set FuncName = #{funcname,jdbcType=VARCHAR},
      ParentID = #{parentid,jdbcType=VARCHAR},
      Descript = #{descript,jdbcType=VARCHAR},
      funcUrl = #{funcurl,jdbcType=VARCHAR},
      leaf = #{leaf,jdbcType=VARCHAR},
      Image = #{image,jdbcType=VARCHAR},
      ToolImage = #{toolimage,jdbcType=VARCHAR},
      NavigationImage = #{navigationimage,jdbcType=VARCHAR},
      NavigationUrl = #{navigationurl,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>